body {
	-webkit-box-pack: center; -ms-flex-pack: center;
	background-color: var(--background-primary);
	justify-content: center; position: relative;
	font-weight: bold; display: -webkit-box;
	display: -ms-flexbox; display: flex;
	font-family: var(--font-primary);
}

.container-404 {
	-webkit-box-align: center; -ms-flex-align: center; align-items: center; color: var(--text-primary);
	-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
	-ms-flex-direction: column; flex-direction: column; z-index: 1;
	-webkit-box-orient: vertical; -webkit-box-direction: normal;
	display: -webkit-box; display: -ms-flexbox; display: flex;
}

/* Highlight Color */
:root * ::-moz-selection,
:root * ::selection {
	background: var(--accent-primary);
	color: var(--text-primary);
}

/* Desktop */
@media only screen and (min-height: 657px) and (min-width: 784px) {

.container-404 {
	position: fixed;
}

.info-container {
	bottom: var(--spacing-primary);
	position: fixed; z-index: 0;
}

main {
    top: calc(var(--spacing-tertiary) - 60px);
	font-size: calc(var(--size-xl-font) * 4);
	position: fixed;
}

header {
    top: calc(var(--spacing-tertiary) + 130px);
	font-size: calc(var(--size-med-font) * 2);
	position: fixed;
}

subheader {
	width: 500px; text-align: center; position: fixed;
    top: calc(var(--spacing-tertiary) + 250px);
	font-size: calc(var(--size-sm-font) * 2);
}

info {
	width: 500px; text-align: center; position: fixed;
    top: calc(var(--spacing-tertiary) + 320px);
	font-size: calc(var(--size-sm-font) * 2);
}

/* Buttons & Info Container */ .info-container {
	background: var(--background-tertiary); width: 100%;
	bottom: 0; flex-direction: row; display: flex;
}

.info-container .content {
	padding-top: calc(var(--spacing-primary) + 15px); margin-left: calc(var(--spacing-tertiary) + 55px);
	margin-right: calc(var(--spacing-tertiary) + 60px); color: var(--accent-primary);
	contain: none; flex-direction: row; display: flex; width: 100%; height: 100%;
	-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
}

.info-container .content > infoheader {
	text-align: center ; position: fixed; padding: 0;
	bottom: calc(var(--spacing-tertiary) + 30px);
	z-index: 3; margin: 0;
}

.content .link-highlight,
.content .link {
	color: var(--accent-primary); cursor: pointer; -webkit-transition: 0.3s ease; transition: 0.3s ease;
	border: var(--border-size) solid var(--accent-primary); border-radius: var(--radius-secondary);
	display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center;
	-ms-flex-pack: center; justify-content: center;	-webkit-box-align: center;
	margin: calc(var(--spacing-primary) + 5px); width: 100%; height: 45px;
	text-decoration: none; -ms-flex-align: center; align-items: center;
}

.content .link:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.content .link > ion-icon {
	margin-right: calc(var(--spacing-primary) + 5px);
}

.content .link-highlight {
	border: var(--border-size) solid var(--accent-primary);
	-webkit-transition: 0.3s ease; transition: 0.3s ease;
	color: var(--text-primary); font-weight: bold;
	background: var(--accent-primary);
}

.content .link-highlight:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.content .link-highlight > ion-icon {
	margin-right: calc(var(--spacing-primary) + 5px);
}

}

/* Mobile */
@media only screen and (max-height: 657px) and (max-width: 784px) {

* {
	-webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 0; padding: 0;
}

.container-404 {
	-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
	-webkit-box-orient: vertical; -webkit-box-direction: normal;
	display: -webkit-box; display: -ms-flexbox; display: flex;
	width: 100%; top: 0; position: fixed; height: 400px;
	-ms-flex-direction: column; flex-direction: column;
	padding: var(--spacing-secondary);
}

main {
    top: calc(var(--spacing-tertiary) - 40px);
	font-size: calc(var(--size-med-font) * 4);
	padding: var(--spacing-secondary);
	position: fixed;
}

header {
    top: calc(var(--spacing-tertiary) + 60px);
	font-size: calc(var(--size-sm-font) * 2);
	padding: var(--spacing-secondary);
	position: fixed;
}

subheader {
	width: 500px; text-align: center; position: fixed;
    top: calc(var(--spacing-tertiary) + 100px);
	padding: var(--spacing-secondary);
	font-size: calc(var(--size-sm-font) * 2);
}

info {
	width: 500px; text-align: center; position: fixed;
    top: calc(var(--spacing-tertiary) + 200px);
	font-size: calc(var(--size-sm-font) * 2);
	padding: var(--spacing-secondary);
}

.info-container {
	border-radius: var(--radius-tertiary) var(--radius-tertiary) var(--radius-none) var(--radius-none);
	position: fixed; bottom: 0; width: 100%; height: 40%; background: var(--background-tertiary);
	color: var(--background-tertiary); padding: var(--spacing-secondary); margin-top: 0;
}

.info-container .content {
	padding: var(--spacing-primary);
	color: var(--accent-primary);
	height: 100%; width: 100%;
}

.content .link-highlight,
.content .link {
	border-radius: var(--radius-secondary);text-decoration: none; color: var(--accent-primary);
	align-items: center; border: var(--border-size) solid var(--accent-primary);
	margin: calc(var(--spacing-primary) + 5px) auto; width: 100%; height: 45px;
	-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
	cursor: pointer; -webkit-transition: 0.3s ease; transition: 0.3s ease;
	display: -webkit-box; display: -ms-flexbox; display: flex;
	-webkit-box-align: center; -ms-flex-align: center;
}

.content .link-highlight:hover,
.content .link:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.content .link-highlight > ion-icon,
.content .link > ion-icon {
	margin-right: calc(var(--spacing-primary) + 5px);
}

.content .link-highlight {
	font-weight: bold; -webkit-transition: 0.3s ease; transition: 0.3s ease;
	border: var(--border-size) solid var(--accent-primary);
	background: var(--accent-primary);
	color: var(--text-primary);
}

}
