body {
	background-color: var(--background-primary);
	margin: var(--spacing-primary);
	padding: var(--spacing-none);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 500px;
	height: calc(100vh - 20px);
	margin: var(--spacing-secondary) var(--spacing-none) var(--spacing-none) var(--spacing-none);
	color: var(--text-primary);
	z-index: 2;
}

.container .profile-picture {
	position: fixed;
	z-index: 3;
	top: calc(var(--spacing-tertiary) + 220px);
	left: var(--spacing-tertiary);
	width: var(--size-med-avatar);
	height: var(--size-med-avatar);
	margin-bottom: var(--spacing-none);
	border-radius: var(--radius-avatar);
	border: var(--border-size) solid var(--accent-primary);
}

.container .profile-banner {
	position: fixed;
	width: 400px;
	height: 300px;
  top: var(--spacing-primary);
  left: var(--spacing-primary);
	border-radius: var(--radius-tertiary);
	border: 5px solid;
	border-color: var(--background-secondary);
}
