@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root * {

	--border-size: 2px;
	
	--accent-primary: #a89632;

	--background-primary: #403f3f;
	--background-secondary: #403f3f;
	--background-tertiary: #403f3f;

	--radius-avatar: 5px;
	--size-sm-avatar: 50px;
	--size-med-avatar: calc(var(--size-sm-avatar) * 2);
	--size-xl-avatar: calc(var(--size-sm-avatar) * 4);

	--text-primary: #fff;
	--font-primary: 'Poppins', sans-serif;
	--size-sm-font: 10px;
	--size-med-font: calc(var(--size-sm-font) * 2);
	--size-xl-font: calc(var(--size-sm-font) * 4);

	--radius-none: 0;
	--radius-primary: 5px;
	--radius-secondary: calc(var(--radius-primary) * 2);
	--radius-tertiary: calc(var(--radius-primary) * 4);

	--spacing-none: 0;
	--spacing-primary: 10px;
	--spacing-secondary: calc(var(--spacing-primary) * 2);
	--spacing-tertiary: calc(var(--spacing-primary) * 4);

}

/* Base */
* {
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Highlight Color */
* ::-moz-selection {
  background: var(--accent-primary);
  color: var(--text-primary);
}

* ::selection {
  background: var(--accent-primary);
  color: var(--text-primary);
}

> p {
  margin: calc(var(--spacing-primary) - 5px) var(--spacing-none);
}

> li {
  list-style: none;
}

body {
  background-color: var(--background-primary);
  font-family: var(--font-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: calc(100vh - 20px);
  margin: var(--spacing-secondary) var(--spacing-none) var(--spacing-none) var(--spacing-none);
  color: var(--text-primary);
  z-index: 2;
}

.container .profile-picture {
  width: var(--size-med-avatar);
  height: var(--size-med-avatar);
  margin-bottom: var(--spacing-primary);
  border-radius: var(--radius-avatar);
  border: var(--border-size) solid var(--accent-primary);
}

.container > h2 {
  margin: var(--spacing-none);
  font-size: var(--size-med-font);
}

.container .subtitle {
  font-size: calc(var(--size-sm-font) * 8px);
  color: var(--text-primary);
}

.container .info-container {
  background: var(--text-primary);
  width: 100%;
  height: 100%;
  border-radius: var(--radius-tertiary) var(--radius-tertiary) var(--radius-none) var(--radius-none);
  margin-top: var(--spacing-tertiary);
}

.container .info-container .content {
  width: 100%;
  height: 100%;
  padding: var(--spacing-tertiary) calc(var(--spacing-secondary) + 10px) var(--spacing-secondary);
  color: var(--accent-primary);
}

.container .info-container .content > h3 {
  text-align: center;
  padding-bottom: calc(var(--spacing-secondary) + 5px);
}

.container .info-container .content .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px auto;
  width: 100%;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: var(--border-size) solid var(--accent-primary);
  border-radius: var(--radius-secondary);
  text-decoration: none;
  color: var(--accent-primary);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container .info-container .content .link:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.container .info-container .content .link > ion-icon {
  margin-right: calc(var(--spacing-primary) + 5px);
}

.container .info-container .content .link.highlight {
  background: var(--accent-primary);
  border: var(--border-size) solid var(--accent-primary);
  color: var(--text-primary);
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container .info-container .content .link.highlight:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.container .info-container .content .link.highlight > ion-icon {
  margin-right: calc(var(--spacing-primary) + 5px);
}

